<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img
      src="../favicon.ico"
      alt="bhoe-ja"
      [width]="isSmallScreen ? 60 : 75"
      [ngClass]="{ 'margin-left-5': !isSmallScreen }"
    />
    <span style="margin-left: 0.5rem; margin-right: 2rem;">{{ title }}</span>
    <ng-container *ngIf="!isSmallScreen">
      <div style="border-left: solid; height: 70%;"></div>
      <span style="margin-left: 2rem; font-weight: normal;"
        >All your Tibetan news in one place</span
      >
    </ng-container>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <button mat-icon-button (click)="openFilterPanel()">
        <mat-icon>date_range</mat-icon>
      </button>
      <button mat-icon-button (click)="openFilterPanel()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button (click)="openAboutSheet()">
        <mat-icon>contact_support</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group
  mat-align-tabs="center"
  style="background-color: white;"
  [selectedIndex]="defaultTabIndex"
  (selectedIndexChange)="feedTypeSelected($event)"
>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 0.5rem;">article</mat-icon>
      Articles
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 0.5rem;">video_library</mat-icon>
      Vidoes
    </ng-template>
  </mat-tab>
</mat-tab-group>

<mat-expansion-panel [expanded]="filterPanel">
  <div [ngClass]="{ 'width-100': !isSmallScreen }">
    <div
      fxFlex
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="space-evenly"
    >
      <mat-form-field appearance="standard">
        <mat-label>Select a date range</mat-label>
        <mat-date-range-input
          [formGroup]="filterForm"
          [rangePicker]="picker"
          [max]="currentDate"
        >
          <input
            matStartDate
            formControlName="start"
            placeholder="Start date"
          />
          <input matEndDate formControlName="end" placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <input
          matInput
          [formControl]="searchForm"
          placeholder="Search for articles"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
</mat-expansion-panel>
