<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img
      src="../favicon.ico"
      alt="bhoe-ja"
      width="75"
      style="margin-left: 5%;"
    />
    <span style="margin-left: 0.5rem; margin-right: 2rem;">{{ title }}</span>
    <div style="border-left: solid; height: 70%;"></div>
    <span style="margin-left: 2rem; font-weight: lighter;"
      >All your Tibetan news in one place</span
    >

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <button mat-icon-button (click)="openDateRangeSelector()">
        <mat-icon>date_range</mat-icon>
      </button>
      <!-- <button mat-icon-button (click)="openAboutSheet()">
        <mat-icon>contact_support</mat-icon>
      </button> -->

      <button mat-icon-button (click)="openAboutSheet()">
        <mat-icon>contact_support</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-expansion-panel [expanded]="dateRangeSelector">
  <mat-form-field appearance="standard">
    <mat-label>Select a date range</mat-label>
    <mat-date-range-input
      [formGroup]="dateRangeForm"
      [rangePicker]="picker"
      [max]="currentDate"
    >
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
  </mat-form-field>
</mat-expansion-panel>
