@import "./../../theme.scss";

.margin-left-5 {
  margin-left: 5%;
}

.light-background {
  background-color: $light-background-color;
}

.dark-background {
  background-color: $dark-background-color;
}
