<h1
  class="mat-h1"
  style="display: flex; justify-content: space-between; align-items: center;"
>
  <span>About BHOE JA</span>
  <mat-slide-toggle
    labelPosition="before"
    [checked]="isDarkMode"
    (change)="onDarkModeChange($event)"
  >
    <span class="material-icons">nights_stay</span>
  </mat-slide-toggle>
</h1>
<p>
  <span style="font-style: italic;"
    >Explore all the latest Tibetan news while you sip your bhoe ja.</span
  ><br /><br />
  Bhoe Ja aims to make it easier to stay informed on the latest Tibetan news
  from many different sources across the web. We hope to empower journalists by
  making their content more accessible to a wider audience than just their
  single news source.
</p>
<p>
  Bhoe Ja uses
  <a href="https://en.wikipedia.org/wiki/Web_scraping" target="_blank"
    >web scraping</a
  >
  to extract articles from different Tibetan news sources every hour and
  retrieves videos using
  <a href="https://developers.google.com/youtube/v3" target="_blank"
    >Youtube Data API</a
  >
  every two hours to create a unique user experience for consuming Tibetan news.
</p>
<div class="row">
  <div class="column">
    <h4 class="mat-h4" style="font-weight: bold;">News Sources</h4>
    <ul>
      <li *ngFor="let source of articleSources">
        <a [href]="source.url" target="_blank">{{ source.name }}</a>
      </li>
    </ul>
  </div>
  <div class="column">
    <h4 class="mat-h4" style="font-weight: bold;">
      Youtube Channels
    </h4>
    <ul>
      <li *ngFor="let source of videoSources">
        <a [href]="source.url" target="_blank">{{ source.name }}</a>
      </li>
    </ul>
  </div>
</div>

<h4 class="mat-h4" style="font-weight: bold;">Contact</h4>
<p>
  Bhoe Ja is an open source project. Please contact
  <a href="mailto: tpalber7@gmail.com">tpalber7@gmail.com</a> for any
  contributions or questions.
  <a href="https://github.com/tpalber/bhoe-ja" target="_blank">GitHub</a>
</p>
