<h1 class="mat-h1" style="color: #3f51b5; font-weight: bold;">
  About BHOE JA
</h1>
<p>
  <span style="font-style: italic;"
    >Explore all the latest Tibetan news while you sip your bhoe ja.</span
  ><br /><br />
  Bhoe Ja aims to make it easier to stay informed on the latest Tibetan news
  from many different sources across the web. We hope to empower journalists by
  making their content more accessible to wider audience than just the single
  news source.
</p>
<p>
  Bhoe Ja uses
  <a href="https://en.wikipedia.org/wiki/Web_scraping" target="_blank">
    web scraping
  </a>
  &nbsp;to extract news from different Tibetan news sources and combines it all
  in one area.
</p>
<div class="row">
  <div class="column">
    <h4 class="mat-h4" style="font-weight: bold;">News Sources</h4>
    <ul>
      <li><a href="https://www.phayul.com/" target="_blank">Phayul</a></li>
      <li>
        <a href="https://www.rfa.org/english/news/tibet" target="_blank"
          >Radio Free Asia</a
        >
      </li>
      <li>
        <a href="http://www.thetibetpost.com/en/" target="_blank">Tibet Post</a>
      </li>
      <li>
        <a href="http://tibettimes.net/" target="_blank">Tibet Times</a>
      </li>
      <li><a href="https://vot.org/" target="_blank">Voice Of Tibet</a></li>
    </ul>
  </div>
  <div class="column">
    <h4 class="mat-h4" style="font-weight: bold;">
      Youtube Channels
    </h4>
    <ul>
      <li>
        <a
          href="https://www.youtube.com/channel/UCmAs3jM0KZLwsglmaVMwvMg"
          target="_blank"
          >RFATibetan</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/channel/UCQG1iEjZPBw9m4HSZgyVoUg"
          target="_blank"
          >TibetTV</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/channel/UC2UlA4pbz0AYXXHba7cbu0Q"
          target="_blank"
          >VOA Tibetan</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/channel/UCYg4JtszcCx83UTR-wObgFg"
          target="_blank"
          >Voice of Tibet</a
        >
      </li>
    </ul>
  </div>
</div>

<h4 class="mat-h4" style="font-weight: bold;">Contact</h4>
<p>
  Bhoe Ja is an open source project. Please contact tpalber7@gmail.com for any
  contributions or questions.
  <a href="https://github.com/tpalber/bhoe-ja" target="_blank">GitHub</a>
</p>
