<h1 class="mat-h1" style="color: #3f51b5; font-weight: bold;">
  About BHOE JA
</h1>
<p>
  <span style="font-weight: bold;"
    >Explore all the latest Tibetan news while you sip your bhoeja.</span
  ><br />
  Bhoe Ja aims to make it easier to stay informed on the latest Tibetan news
  from many different sources across the web. Bhoe Ja also allows journalists to
  get their news articles out to wider audience that just the single news
  source.
</p>

<h4 class="mat-h4" style="font-weight: bold;">Approach</h4>
<p>
  Bhoe Ja uses
  <a href="https://en.wikipedia.org/wiki/Web_scraping" target="_blank">
    web scraping
  </a>
  &nbsp;to extract news from different Tibetan news sources and combines it all
  in one area.
</p>
<h4>Supported news sources</h4>
<ul>
  <li><a href="https://www.phayul.com/" target="_blank">Phayul</a></li>
  <li>
    <a href="https://www.rfa.org/english/news/tibet" target="_blank"
      >Radio Free Asia</a
    >
  </li>
  <li>
    <a href="http://www.thetibetpost.com/en/" target="_blank">Tibet Post</a>
  </li>
  <li>
    <a href="http://tibettimes.net/" target="_blank">Tibet Times</a>
  </li>
  <li><a href="https://vot.org/" target="_blank">Voice Of Tibet</a></li>
</ul>
<h4 class="mat-h4" style="font-weight: bold;">Contact</h4>
<p>
  More contact information coming....
</p>
