<div style="padding-top: 6.5rem;">
  <app-infinite-scroll (scrolled)="onScroll()" [isLoading]="isLoading">
    <mat-card
      *ngFor="let article of articles"
      style="margin-top: 1rem;"
      [ngClass]="{ 'web-screen': !isSmallScreen }"
    >
      <mat-card-header>
        <mat-card-title
          (click)="openLink(article.link)"
          style="cursor: pointer;"
          >{{ article.title }}</mat-card-title
        >
        <mat-card-subtitle>
          <div fxFlex fxLayout="row">
            <span style="padding-top: 3px;">
              {{ article.date | trimDateString }}
            </span>
            <span
              class="material-icons"
              style="padding-left: 10px; cursor: pointer;"
              (click)="toogleBookmark(article)"
            >
              {{ article.bookmarked ? "bookmark" : "bookmark_border" }}
            </span>
          </div>
        </mat-card-subtitle>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
          <app-label
            [ngClass]="{ 'margin-right-1': !isSmallScreen }"
            (click)="openLink(article.link)"
            >{{ getLabel(article.source) }}</app-label
          >
        </div>
      </mat-card-header>
      <mat-card-content
        (click)="openLink(article.link)"
        style="cursor: pointer;"
      >
        {{ article.description }}
      </mat-card-content>
    </mat-card>

    <div
      *ngIf="!isLoading && articles.length === 0"
      style="text-align: center; padding: 24px;"
      class="mat-body"
    >
      <mat-card-content>
        No articles found with your selected filter(s)
      </mat-card-content>
    </div>
    <app-loading [isLoading]="isLoading"></app-loading>
  </app-infinite-scroll>
</div>
