/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.bottom-sheet {
  background-color: #fafafa;
  max-width: 60px !important;
}

.mat-card-header-text {
  margin: unset !important;
}

.mat-expansion-panel-body {
  padding: 6px 24px 0 24px !important;
}
