/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.bottom-sheet {
  max-width: 60px !important;
}

.mat-card-header-text {
  margin: unset !important;
}
