.label {
  display: initial;
  padding: 2px 12px;
  border-radius: 16px;
  border-style: solid;
  border-color: #3f51b5;
  min-height: 32px;
  height: 1px;

  position: relative;
  box-sizing: border-box;
  color: #3f51b5;
}
