@import "./../../../theme.scss";

.label {
  display: inline-table;
  padding: 2px 12px;
  border-radius: 16px;
  border-style: solid;
  border-color: $primary;
  min-height: 32px;
  height: 1px;
  text-align: center;

  position: relative;
  box-sizing: border-box;
  color: $primary;
  cursor: pointer;
}
